.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: absolute;
  top: 100px;
  width: 100%;
  height: 135px;
}

.searchArea {
  width: 80%;
  height: 100%;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 1px 1px 1px 1px lightgray;
}

.travel-type ul {
  display: flex;
  gap: 10px;
  align-items: center;
}
.searchArea .travel-type ul li {
  display: flex;
  font-size: 12px;
  list-style: none;
  align-self: center;
  padding: 4px 6px 4px 6px;
  border-radius: 10px;
}
.searchArea .travel-type ul li:hover {
  background-color: rgb(233, 241, 252);
  cursor: pointer;
}

.searchArea .travel-type ul li label:hover {
  cursor: pointer;
}

.searchArea .travel-type ul li input[type="radio"] {
  margin-right: 5px;
  display: flex;
  align-items: center;
  margin-top: 2px;
  color: rgb(34, 118, 227);
  border: 1px solid rgb(34, 118, 227);
}
.searchArea .travel-type ul li input[type="radio"]:hover {
  background-color: rgb(34, 118, 227);
}

.travel-type ul li span {
  font-weight: 500;
  color: gray;
  margin-right: 3px;
  color: rgb(34, 118, 227);
}

/* User search section */
.userSearchSection {
  display: flex;
  width: 100%;
  height: 32px;
  gap: 10px;
  padding-left: 3px;
  padding-right: 30px;
  justify-content: center;
  align-items: center;
}
.leftFromTo {
  display: flex;
  gap: 10px;
  position: relative;
  flex: 0.5;
}
.rightDepartureTravelersClass {
  display: flex;
  gap: 10px;
  flex: 0.5;
}
.fromTo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 200px;
  border-radius: 4px;
  border: 2px solid lightgray;
  position: relative;
  margin: auto;
  margin-top: 30px;
}
.textlabel {
  display: inline-flex;
  position: absolute;
  left: 11px;
  top: -11px;
  background-color: rgb(255, 255, 255);
  padding: 3px 8px;
  line-height: normal;
  font-size: 12px;
  font-weight: 500;
  color: gray;
}

.fromTo input {
  font-size: 14px;
  border: none;
  outline: none;
}
.fromTo #travelInputText {
  display: flex;
  font-size: 10px;
  align-items: start;
  justify-content: start;
  text-align: start;
  padding-left: 5px;
  padding-right: 5px;
  overflow-x: hidden;
  width: 100%;
  padding-left: 10px;
  font-weight: 600 !important;
}
.fromTo #travelInputText-p {
  position: absolute;
  font-size: 10px;
  top: 12px;
  bottom: 1px;
  left: 10px;
  color: gray;
  font-weight: 500;
}
.userSearchSection .fromTo:hover {
  border: 2px solid rgb(34, 118, 227);
}

.userSearchSection .fromTo:hover .textlabel {
  color: rgb(34, 118, 227);
}
.searchFilterIcon {
  color: rgb(34, 118, 227);
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 46%;
  top: 46%;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}
#SearchFlight-btn {
  width: 180px;
  border-radius: 30px;
  position: absolute;
  bottom: -18px;
}

/* Search results */

.searchResults {
  position: absolute;
  width: 150%;
  min-height: 100px;
  max-height: 300px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  top: 50px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid rgb(34, 118, 227);
}

.searchResults::-webkit-scrollbar {
  display: none;
}
.fromSearchResults {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  font-weight: 500;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  border-bottom: 1.3px solid lightgray;
}

.fromSearchResults:hover {
  background-color: rgb(233, 241, 252);
  border-radius: 10px;
}
.fromSearchResults .left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0.1;
}

.fromSearchResults .mid {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
  flex: 0.7;
}

.fromSearchResults .mid .top {
  margin-bottom: -10px;
  gap: 3px;
}
.fromSearchResults .mid .bottom {
  color: gray;
  font-size: 10px;
}

.fromSearchResults .right {
  justify-content: end;
  align-items: end;
  text-align: end;
  flex: 0.2;
}

/* Departure Calender */
.departureCalender {
  border: none !important;
  outline: none !important;
}
